@import url("./bubbleui-v3.0.0.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --accent-color: #8155ff;
    --secondary-color: #f1eaff;
    --secondary-text-color: #898989;
}

.accent-hover:hover {
    color: var(--accent-color);
}
